@font-face {
	font-family: 'OCRA'; 
	src: url(ocra.ttf); 
}
body{
	margin: 0px;
}

.nav{
	margin-left: 0%;
	font-family: 'OCRA';
	display: flex;
	margin-right: 0%;
	background: #F5F5F5;
	padding: 1%;
	position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;

}

#reg-field{
	font-family: 'OCRA';
	border: none;
	border-bottom: 2px solid #383838;
	background: rgba(0,0,0,0);
	margin-bottom: 1%;
	padding: 2% ;
	font-size: 16px;
	width: 100%;
    color: #775280;

}

.btn-1{

	text-decoration: none;
	background: #FFE500;
	padding: 4% 8%;
	color: #000;
	font-size: 20px;
}


.row{
    vertical-align: bottom;
    display: flex;
    width: 100%;
}

.span {
    vertical-align: bottom;
    text-align: center;

}

.reg-window{
	font-family: 'OCRA';
	text-align: center;
	width: 30%;
	height: 60%;
	
	margin: auto;
}
.center{
    text-align: center;
    font-family: 'OCRA';
    font-size: 39px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.text-singin{
	margin-top: 5%;
	font-size: 28px;
}
.fields{
	margin-top: 15%;
}

.name{
	font-family: 'OCRA';
	font-size: 28px;
	color: #C250FF;
	margin-left: 10%;
	margin-right: 5%;
}

.btn{
	text-decoration: none;
	color: #000;
	margin-top: 8%;
}

.btn-order {
	text-align: center;
	width: 20%;
	height: 50%;
	color: #000;
	text-decoration: none;
	margin:  0 auto;
	margin-top: 1.5%;
	background: #FFE500;
	padding: 1% 0%;
}

.items-sing{
	display: flex;
	margin-right: 25%;
	margin-top: 1.5%;
}

.notif{
	margin-top: 2%;
	margin-right: 40%;
}


.bottom-field{
	margin-top: 30%;
	width: 100%;
	background: #2C2C2C;
	padding-bottom: 5%;
}


.header-bottom{
	display: flex;
}

.items-pages{
	margin-top: 2.5%;
	margin-left: 15%;
	display: ;
	width: 10%;
}

.title-page{
	color: #AAAAAA;
	margin-bottom: 15%;
}

.for_marg{
	margin-bottom: 15%;
}

.btn-bottom{
	color: #fff;
	text-decoration: none;
}

.contacts{
	color: #AAAAAA;
	margin-left: 45%;
	margin-top: 3%;
}


.name-1{
	color: #C250FF;
	font-family: 'OCRA';
	font-size: 28px;
	color: #C250FF;
	margin-left: 3%;
	margin-top: 4%;
}
