@font-face {
	font-family: 'OCRA'; 
	src: url(ocra.ttf); 
}
body{
	margin: 0px;
}

.nav{
	margin-left: 0%;
	font-family: 'OCRA';
	display: flex;
	margin-right: 0%;
	background: #F5F5F5;
	padding: 1%;
	position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;

}

.name{
	font-family: 'OCRA';
	font-size: 28px;
	color: #C250FF;
	margin-left: 10%;
	margin-right: 0%;
	margin-top: 1.5%;
	text-decoration: none;
}

.btn{
	text-decoration: none;
	color: #000;
	margin-top: 8%;
}

.btn-order {
	text-align: center;
	width: 20%;
	height: 50%;
	color: #000;
	text-decoration: none;
	margin:  0 auto;
	margin-top: 1.5%;
	background: #FFE500;
	padding: 1% 0%;
	margin-right: 25%;
}

.items-sing{
	display: flex;
	margin-right: 10%;
	margin-top: 1.5%;
}

.items-2{
	margin-right: ;
}

.notif{
	margin-top: 2%;
	margin-right: 40%;
}

.my-profile{
	margin: 10% 30%;
	font-family: 'OCRA';
}

.header-profile{
	font-family: 'OCRA';
	font-size: 22px;
	display: flex;
	width: 100vh;
	text-align: center;
}

.text-header{
	margin-top: 1%;
}


.profile-info{
	display: flex;
	margin-top: 7%;
	background: #FFAA29;
	padding: 10% 4%;
	width: 105%;
	padding-right: 5%;
}

.info{
	justify-content: center;
	margin-right: 30%;
}

.about-me{
	font-family: 'OCRA';
	height: 140%;
	width: 100%;
	resize: none;
}

.photo{
	margin-top: 2%;
	background: #F5F5F5;
	width: 100%;
	margin-left: 50%;
	padding: 2% 2%;
}


.field-about{
	width: 200%;
	text-align: center;
	justify-content: center;
}

.go-message{
	text-decoration: none;
	color: #000;
	background: #C995E5;
	margin-bottom: 5%;
	padding: 2% 3%;
	width: 120%;
	font-size: 12px;
	margin-left: 20%;
	border-radius: 2px;
}

.line{
	margin-left: 10%;
	border-bottom: 2px solid #000;
	height: 15%;
	margin-top: 15%;
	width: 190%;
}

.txarea{
	margin-top: 5%;
	width: 130%;
}



.bottom-field{
	margin-top: 30%;
	width: 100%;
	background: #2C2C2C;
	padding-bottom: 5%;
}

.area-text{
	width: 80%;
	height: 180%;
	margin-left: 10%;
	margin-bottom: 2%;
}

.text-service{
	height: 180%;
	width: 100%;
	margin: auto;
}

.who-master{
	margin-left: 2%;
}

.master{
	margin-top: 2%;
	font-size: 14px;
	margin-left: 0%;
	border-bottom: 2px solid #000;
	margin-right: 8%;
}

.header-bottom{
	display: flex;
}

.items-pages{
	margin-top: 2.5%;
	margin-left: 15%;
	display: ;
	width: 10%;
}

.title-page{
	color: #AAAAAA;
	margin-bottom: 15%;
}

.for_marg{
	margin-bottom: 15%;
}

.btn-bottom{
	color: #fff;
	text-decoration: none;
}

.contacts{
	color: #AAAAAA;
	margin-left: 45%;
	margin-top: 3%;
}


.name-1{
	color: #C250FF;
	font-family: 'OCRA';
	font-size: 28px;
	color: #C250FF;
	margin-left: 3%;
	margin-top: 4%;
}