@font-face {
	font-family: 'OCRA'; 
	src: url(ocra.ttf); 
}
body{
	margin: 0px;
}

.header{
	margin-left: 19%px;
	vertical-align: middle;
	/*text-align: center;*/
	display: flex;
	margin-bottom: 10%;
	
}

.name{
	font-family: 'OCRA';
	font-size: 36px;
	color: #C250FF;
	margin-top: 2%;
	height: 4%;
	width: 10%;
	margin-left: 3%;
}

.header-items{
	margin-top: 3%;
	display: flex;
	vertical-align: middle;
	text-align: center;
	margin-left: 60%;
}
.btn{
	font-family: 'OCRA';
	font-size: 18px;
	color: #000;
	text-decoration: none;
}

.txt{
	font-family: 'OCRA';
	margin-top: 3%;
	margin: 3%px;
}

.reg-window{
	font-family: 'OCRA';
	background: #C995E5;
	text-align: center;
	padding: 2% 1%;
	width: 20%;
	height: 40%;
	justify-content: center;
	margin: 10% auto;
}

#reg-field{
	font-family: 'OCRA';
	border: none;
	border-bottom: 2px solid #383838;
	background: rgba(0,0,0,0);
	margin-bottom: 3%;
	padding: 5% ;
	font-size: 16px;
	width: 60%;

}

.fields{
	margin-top: 15%;
}

.btn-singin{
	margin-top: 20%;
	text-decoration: none;
	color: #000;
	margin-bottom: 5%;
}

.btn-1{

	text-decoration: none;
	background: #B555E8;
	padding: 4% 8%;
	color: #000;
	font-size: 20px;
}

.text{
	margin-top: 5%;
	margin-bottom: 5%;
}

.text-singin{
	margin-top: 5%;
	font-size: 28px;
}

.bottom-field{
	margin-top: 5%;
	width: 100%;
	background: #2C2C2C;
	padding-bottom: 5%;
}

.header-bottom{
	display: flex;
}

.items-pages{
	margin-top: 2.5%;
	margin-left: 15%;
	display: ;
	width: 10%;
}

.title-page{
	color: #AAAAAA;
	margin-bottom: 15%;
}

.for_marg{
	margin-bottom: 15%;
}

.btn-bottom{
	color: #fff;
	text-decoration: none;
}

.contacts{
	color: #AAAAAA;
	margin-left: 45%;
	margin-top: 3%;
}