<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href = "./static/style_became_master.css">
    <title>Application</title>
</head>
<body>
    <div class = "nav">
        <p class = "name">Заказики</p>
        
        <a class = "btn-order" href = "#">Подать заявку</a>
        
        <div class = "items-sing">
             <a class = "notif" href = "#">
                 <img src = "./static/notific.png">
             </a>
            <a class = ""href = "profile.html">
                <img src = "./static/face.png">
             </a>
        </div>
    </div>
    <div class = "text">
        <p class = "text-singin">Заполните форму для того, чтобы опубликовать свой заказ</p>
    </div>
    
    <div class="center">Заполните форму для того, чтобы стать</div>
    <div class="text-orange">мастером</div>
    <div id = "imag">
        <img src="./static/laptop.png" align="center" height="400">
    </div>

    <form action="{{ url_for('becomeMaster') }}" method="POST">
        <div class="reg-window">
        <div class = "fields">
<!--            <input id = "reg-field" name="service" placeholder = "Категория услуг, в которой вы хотите работать...">-->
                <select name="serviceID">
                    {% for category in categories %}
                        <option value="{{ category[0] }}">{{ category[1] }}</option>
                    {% endfor %}
                </select>
<!--					<input type="submit" value="фильтр">-->
        </div>
        <div class = "btn-singin">
            <button type="submit" class = "btn-1">Начать работать!</button>
        </div>
        </div>
    </form>



    <div class = "bottom-field">
        <div class = "header-bottom">
            <div class = "name-1"> Заказики</div>
            <div class = "items-pages">
                <p class = "title-page">Разделы</p>
                <div class = "for_marg">
                    <a class = "btn-bottom" href = "index.html"> Главная</a>
                </div>
                <div class = "for_marg">
                    <a class = "btn-bottom" href = "#">	Новый заказ</a>
                </div>
                <div class = "for_marg">
                    <a class = "btn-bottom" href = "#"> Все услуги</a>
                </div>
            </div>
            <div class = "contacts">
                Контакты
            </div>  
        </div>
    </div>
</body>
</html>