<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel = "stylesheet" href = "static/style_profile.css">
		<title>Заказики</title>

	</head>
	<body>
		<div class = "nav">
			<p class = "name">Заказики</p>
			
			<a class = "btn-order" href = "#">Подать заявку</a>
			
			<div class = "items-sing">
				 <a class = "notif" href = "#">
				 	<img src = "static/notific.png">
				 </a>
				<a class = ""href = "main_singin.html">
					<img src = "static/face.png">
				 </a>
			</div>
		</div>
 <form method="post"></form>
		<div class = "my-profile">
			<div class = "header-profile">
				<div class = "text-header">Профиль</div>
				<div class = "became-master">
					<a class = "btn-master" href = "#">Хочу стать мастером!</a>
				</div>
			</div>
			<div class = "profile-info">
				<div class = "info">
					<div class = "photo">
						<img src = "static/default_photo.png">
					</div>
					<div class = "users-field">
						<div class = "line">
							Username0001
						</div>
					<div class = "line">Владивосток</div>
				</div>
				</div> 
				<div class = "field_about">
					<textarea class = "about-me", placeholder="Расскажите немного о себе" rows="12"></textarea>
				</div>
		</div>
	</div>

	<div class = "my-appl">
		<div class = "header-app">Ваши заявки:</div>
		<div class = "list-appl">
			
		</div>
	</div>

		<div class = "bottom-field">
			<div class = "header-bottom">
				<div class = "name-1"> Заказики</div>
				<div class = "items-pages">
					<p class = "title-page">Разделы</p>
					<div class = "for_marg">
						<a class = "btn-bottom" href = "index.html"> Главная</a>
					</div>
					<div class = "for_marg">
						<a class = "btn-bottom" href = "#">	Новый заказ</a>
					</div>
					<div class = "for_marg">
						<a class = "btn-bottom" href = "#"> Все услуги</a>
					</div>
				</div>
				<div class = "contacts">
					Контакты
				</div>  
			</div>
		</div>
	</body>
</html>