<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel = "stylesheet" href = "static/style_singin.css">
		<title>Заказики</title>

	</head>
	<body>
		<div class = "header">
			<div class = "name">
				Заказики
			</div>
			<div class = "header-items">
				<a href = "#" class = "btn"> Вход </a>
				<p class = "txt"> / </p>
				<a href="singup.html" class = "btn"> Регистрация </a>
			</div>
		</div>
		<div class = "reg-window"> 
			<div class = "text">
				<p class = "text-singin">Вход</p>
			</div>
			<form action="" method="POST">
				<div class = "fields">
					<input id = "reg-field" placeholder = "Номер телефона" name="phone">
					<input id = "reg-field" type="password" placeholder="Пароль" name="psw">
				</div>
				<div class = "btn-singin">
					<input type="submit" value="Войти" class = "btn-1">
<!--					<a href = "#" class = "btn-1">Войти</a>-->
				</div>
			</form>

		</div>

		<div class = "bottom-field">
			<div class = "header-bottom">
				<div class = "name"> Заказики</div>
				<div class = "items-pages">
					<p class = "title-page">Разделы</p>
					<div class = "for_marg">
						<a class = "btn-bottom" href = "index.html"> Главная</a>
					</div>
					<div class = "for_marg">
						<a class = "btn-bottom" href = "#">	Новый заказ</a>
					</div>
					<div class = "for_marg">
						<a class = "btn-bottom" href = "#"> Все услуги</a>
					</div>
				</div>
				<div class = "contacts">
					Контакты
				</div>  
			</div>
		</div>
	</body>
</html>